torch
tensorflow_addons==0.12.0
streamlit==1.1.0
numpy==1.19.3
torchvision
pandas==1.1.5
signatory==1.2.6.1.9.0
scikit_image==0.17.1
focal_loss==0.0.7
opencv_python==4.5.1.48
matplotlib==3.3.3
esig==0.9.7
iisignature==0.24
ipython==7.29.0
keras_flops==0.1.2
scikit_learn==1.0.1
skimage==0.0
tensorflow
