matplotlib==3.3.3
esig==0.9.7
iisignature==0.24
numpy==1.19.3
streamlit==1.1.0
#tensorflow_gpu==2.1.0
tensorflow
torchvision
tensorflow_addons==0.12.0
#focal_loss==0.0.7
scikit_image==0.17.1
torch
opencv_python
pandas==1.1.5
signatory==1.2.6
ipython==7.29.0
#keras_flops==0.1.2
scikit_learn==1.0.1
skimage==0.0

